%%include_language "_local/eshop/pay_drivers/intellectmoney/driver.lng"%%

<!--#set var="settings_form" value="
    <tr>
        <td>%%im_eshopid%%:</td>
        <td><input type="text" name="im_eshopid" class="field" value="##im_eshopid##" size="40" autocomplete="off"></td>
    </tr>
    <tr>
        <td>%%im_secretcode%%:</td>
        <td><input type="password" name="im_secretcode" class="field" value="##im_secretcode##" size="40" autocomplete="off"></td>
    </tr>
 <tr>
        <td>%%im_inn%%:</td>
<a href="driver.lng"></a>
        <td><input type="text" name="im_inn" class="field" value="##im_inn##" size="40" autocomplete="off"></td>
    </tr>
 <tr>
        <td>%%im_nds%%:</td>
        <td><select name="nds">
    <option value="1">%%im_nds_1%%</option>
    <option value="2">%%im_nds_2%%</option>
    <option value="3">%%im_nds_3%%</option>
    <option value="4">%%im_nds_4%%</option>
    <option value="5">%%im_nds_5%%</option>
    <option value="6">%%im_nds_6%%</option>
    <option value="6">%%im_nds_7%%</option>
            </select>
   <script>
                AMI.$('[name=nds]').val('##nds##');
            </script>
</td>
    </tr>

   <tr>
        <td>%%im_test_mode%%:   </td>
        <td><input type="checkbox" name="im_test_mode" class="field" ##if(im_test_mode == 'on')## checked="checked" ##endif##></td>
    </tr>
           <tr>
        <td>%%im_hold%%:</td>
        <td><input type="checkbox" name="hold_mode" class="field" ##if(hold_mode == 'on')## checked="checked" ##endif##></td>
    </tr>
<tr>
        <td>%%im_expire_date%%:</td>
        <td><input type="text" name="hold_mode_date" class="field" value="##hold_mode_date##"></td>
    </tr>
"-->


<!--#set var="checkout_form" value="
    <form name="paymentformintellectmoney" action="##process_url##" method="POST">
    <input type="hidden" name="merchant_id" value="##merchant_id##">
    <input type="hidden" name="amount" value="##amount##">
    <input type="hidden" name="description" value="##description##">
    <input type="hidden" name="order" value="##order##">
    ##hiddens##
      <input type="submit" name="sbmt" class="btn" value="%%driver_button_caption%%" ##disabled## />
    </form>

"-->

<!--#set var="pay_form" value="
    <form name="paymentform" action="##payment_url##" method="post">
    <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="##amount##">
    <input type="hidden" name="LMI_PAYMENT_DESC" value="##description##">
    <input type="hidden" name="LMI_PAYMENT_NO" value="##order##">
    <input type="hidden" name="LMI_PAYEE_PURSE" value="##im_eshopid##">
    <input type="hidden" name="LMI_SIM_MODE" value="##im_test_mode##">
    <input type="hidden" name="LMI_SUCCESS_URL" value="##return##">
    <input type="hidden" name="LMI_FAIL_URL" value="##cancel##">
    <input type="hidden" name="LMI_RESULT_URL" value="##callback##">
    <input type="hidden" name="HOLDMODE" value="##hold_mode##">
    <input type="hidden" name="LMI_EXPIRE_DATE" value="##hold_mode_date##">
    <input type="hidden" name="merchantReceipt" value='##merchantReceipt##'>
         
##hiddens##
</form>
<script type="text/javascript">
    document.paymentform.submit();
</script> 

"-->
